<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover Image Efect</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
    <header>
        <h1>
            Kimetsu No Yaiba
        </h1>
    </header>

    <section>
        <img src="https://w0.peakpx.com/wallpaper/899/977/HD-wallpaper-kyojuro-rengoku-demon-demon-slayer-kimetsu-kimetsu-no-yaiba-season-2-slayer-yaiba-thumbnail.jpg" alt="">
        <img src="https://w0.peakpx.com/wallpaper/1005/903/HD-wallpaper-tanjiro-demon-slayer-demon-slayer-tanjiro-kamado-kimetsu-no-yaiba.jpg" alt="">
        <img src="https://i.pinimg.com/originals/bc/05/cc/bc05ccda54f006c05fec1c900dc48ead.jpg" alt="">
        <img src="https://e0.pxfuel.com/wallpapers/206/576/desktop-wallpaper-gyomei-pilares-kimetsu-no-yaiba-demon-slayer-tanjirou-los-nueve-pilares-los-pilares-thumbnail.jpg" alt="">
    </section>
</body>
</html>